<div class="container" data-controller="calendar">

  <div class="calendar" id="calendrier">
  <%= calendar(number_of_days: 5) do |date| %>
      <div class="day" data-action="click->calendar#getUsers">
        <%= date %>
      </div>
  <% end %>
  </div>

  <div class="container-calendar">
    <div class="box1">
      <p data-calendar-target="degardeLastName" id="nom"></p>
      <p id="metier">Service d'Obstétrique</p>
      <p id="status"> De garde </p>
    </div>
    <div class="box2">
      <p data-calendar-target="astreinteLastName" id="nom"></p>
      <p id="metier">Service d'Obstétrique</p>
      <p id="status"> D'astreinte </p>
    </div>
  </div>
</div>
