<div class="container-wrapper">
  <h1>Bonjour Marie</h1>
  <div class="text-content">
    <div class="text-content-infos">
      <h6>Situation actuelle:</h6>
      <h6>Prochaine astreinte:</h6>
      <h6>Prochaine garde:</h6>
    </div>
  </div>
  <div class="grid-wrapper">
    <div class="wrapper left-wrapper">
      <div class="circle-wrapper"></div>
      <div>
        <h6>Personne</h6><h6>De garde</h6>
      </div>
    </div>
    <div class="wrapper right-wrapper">
      <div class="circle-wrapper"></div>
      <div>
        <h6>Mon</h6><h6>Planning</h6>
      </div>
  </div>

  </div>
  <div class="content-btn">
      <div class="btn-light-blue">
      <a href="">Contacter<br>la personne de garde</a>
      </div>
      <div class="btn-pink">
      <a href="">Confirmer le<br>début de l'astreinte</a>
      </div>
  </div>
</div>
