<div class="container-wrapper">
  <h1>Bonjour Pierre</h1>
  <div class="text-content">
    <div class="text-content-infos">
      <h6>Situation actuelle:</h6>
      <h6>Prochaine astreinte:</h6>
      <h6>Prochaine garde:</h6>
    </div>
  </div>
  <div class="grid-wrapper">
    <div class="wrapper left-wrapper">
      <div class="circle-wrapper"></div>
      <div>
        <h6>Personne</h6><h6>D'astreinte</h6>
      </div>
    </div>
    <div class="wrapper right-wrapper">
      <div class="circle-wrapper"></div>
      <div>
        <h6>Mon</h6><h6>Planning</h6>
      </div>
  </div>

  </div>
  <div class="content-btn">
      <div >
        <a  class="btn-pink" href="">Contacter la personne de garde</a>
      </div>
  </div>
</div>
