<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="footerbox">
      <footer class="footer">
        <div class="UI-brand-logo-light">
          <div class="monlogo"><img src="<%=image_path("logo.png")%>" class="logo" style="width: 150px;"></div>
        </div>
            <div class="contacts">
              <a id= "titre"> Contacts </a>
              <p class="text-wrapper"> Pour nous contacter, veuillez envoyer un email à l'adresse :
              <br />contact@astreinte.me</p>
            </div>
            <div class="contacts">
              <a id= "titre"> A propos </a>
              <p class="text-wrapper">Lorem ipsum dolor sit amet,
              <br />consectetur adipiscing elit</p>
            </div>
            <p class="element-all-rights-re">© 2023 Astreinte.me Tous droits réservés</p>
      </footer>
    </div>
  </body>
</html>
