

<div class="footerbox">
  <footer class="footer">
    <div class="UI-brand-logo-light">
      <div class="monlogo-footer"><img src="<%=image_path("logo.png")%>" class="logo-footer" style="width: 150px;">
      </div>
    </div>

    <div class="contacts">
      <a id= "titre"> Contact </a>
      <p class="text-wrapper-footer"> Pour nous contacter :
      <br />contact@astreinte.me</p>
    </div>

    <div>
      <a id= "titre"> A propos </a>
      <p class="text-wrapper-footer">Mentions légales
        <br/>Politique de confidentialité</p>
    </div>
      <p class="element-all-rights-re">© 2023 Astreinte.me Tous droits réservés</p>
  </div>
  </footer>
</div>
