<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo">
<img src="<%=image_path("logo.png")%>" style="width:5%;" class="bg-info rounded-circle">  alt="...">
    </div>
    <div class="avatar">
    <img src="<%=image_path("avatar1.png")%>" style="width:5%;" class="bg-info rounded-circle">  alt="...">
   <%# <%= <i class="fa-regular fa-bell"></i> %>
   </div>
  </nav>
</div>
