<div class="container-hero">
  <div class="img-background-homepage">
    <%= link_to "", class: "img-banner" do %>
           <%= image_tag "header.png" %>
          <% end %>
  </div>
  <h1 class="title-homepage"><strong>Transformez</strong><br>votre <strong>service de santé</strong></h1>
  <h4 class="subtitle-homepage">Améliorez la prise en charge<br> de vos patients</h4>
  <p class="p-grey">Fludifiez et automatisez vos processus,<br> faites gagner du temps à vos équipes<br>et améliorez leur qualité de travail.</p>

  <div class="container-btn-homepage">
  <a href="" class="homepage-big-btn-alarm">Découvrir</a>
  </div>
</div>

 <div class="box">
      <div class="group">
        <div class="overlap">
          <div class="lorem-ipsum-dolor">
            <div class="text-wrapper">Patients par jour
            </div>
          </div>
          <div class="titre-principal">
            <div class="div">10
            </div>
          </div>
        </div>
        <div class="titre-principal-wrapper"><div class="div">5</div></div>
        <div class="div-wrapper"><div class="div">+60</div></div>
        <div class="overlap-group">
          <div class="lorem-ipsum-dolor-wrapper"><div class="lorem-ipsum-dolor-2">Services hospitaliers</div></div>
          <div class="titre-principal-2"><div class="div">200</div></div>
        </div>
        <div class="lorem-ipsum-dolor-3">
          <div class="lorem-ipsum-dolor-4">Hôpitaux <br />en France</div>
        </div>
        <div class="lorem-ipsum-dolor-5">
          <div class="lorem-ipsum-dolor-4">Professionnels <br />de santé</div>
        </div>
      </div>
    </div>
