<a href="" class="little-btn-pink">Button 1</a>

<a href="" class="little-btn-light-blue">Button 1</a>

<a href="" class="little-btn-dark-blue">Button 1</a>

<a href="" class="big-btn-alarm">Button 1</a>

<a href="" class="big-btn-message">Button 1</a>

<a href="" class="big-btn-dark-blue">Button 1</a>


<div class="spacing"></div>

<h1 class="h1">Texte h1</h1>
<h2 class="h2">Texte h2</h2>
<h3 class="h3">Text h3</h3>
<h4 class="h4">Text h4</h4>

<p class="p-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p class="p-dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<%= link_to "profile", rooting_path%>