#TitreCalendrier{
text-align: center;
}

.calendar{
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 25px;
}

.col-6 {
  border: solid;
}

.container-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.box1{
  text-align: center;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 4px 20px 5px rgba(246, 246, 246, 0.75);
  padding: 20px 5px 5px 5px;
}

.box2{
  text-align: center;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 4px 20px 5px rgba(246, 246, 246, 0.75);
  padding: 20px 5px 5px 5px;
}

#status{
  text-align: center;
  background-color: #FFE45E;
  border-radius: 40px;
  margin-right: 22px;
  margin-left: 22px;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 24px;
  font-size: 14px;
  padding-top: 2px;
}

#metier{
  color: #c4c4c4;
  font-size: 13px;
}

#nom{
  color: #7FC8F8;
  text-align: center;
  font-family: 'quicksand';
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}

.day {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


.day:hover {
  background-color: #7FC8F8;
  border-radius: 10px;
  color: #fff;
}

.calendar-heading{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.simple-calendar .day{
  height: 36px;
}


.calendar-heading{
  display: flex;
  justify-content: space-between;

}

.calendar-title{
  text-transform: capitalize;

}

/* Tableau calendrier */

#calendrier > div > table > thead > tr > th:nth-child(1) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(2) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(3) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(4) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(5) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(6) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(7) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table {
  border: none;
}

.background-blue-calendrier {
  background-color: $blue-light;
  height: 200px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -55px;
}

#calendrier > div > div {
  margin-top: -102px;
}

#calendrier > div > div > span {
  color: #fff;
  text-align: center;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 37px;
  margin-top: -44px;
}

/* Gris par dessus calendrier */

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: rgba(255, 0, 0, 0);
}


/* Ligne 1 */

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-1.past.prev-month {
  background-color: #ff000000;
  border-color: #ff000000;
  color: #BDBDBD;
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-2.past.prev-month {
  background-color: #ff000000;
  border-color: #ff000000;
  color: #BDBDBD;
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-3.past.prev-month {
  background-color: #ff000000;
  border-color: #ff000000;
  color: #BDBDBD;
}
#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-4.past.prev-month {
  background-color: #ff000000;
  border-color: #ff000000;
  color: #BDBDBD;
}
#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-5.past.prev-month {
  background-color: #ff000000;
  border-color: #ff000000;
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(1) {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-5.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-6.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-7.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-0.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
}

/* Ligne 2 */

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-1.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-2.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-3.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-4.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-5.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-6.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-7.past.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-4.today.start-date.current-month {
  background-color: #7FC8F8;
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0);
  height: 20px;
  width: 10px!important;
}
.today {
  background-color: #7FC8F8 !important;
  border-radius: 10px !important;
  border-color: rgba(255, 0, 0, 0) !important;
  height: 20px !important;
  width: 10px!important;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-5.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-6.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(2) > td.day.wday-0.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}


/* Ligne 3 */

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-1.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-2.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-3.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-4.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-5.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-6.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(3) > td.day.wday-0.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

/* Ligne 4 */

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-1.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-2.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-3.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-4.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-5.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-6.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(4) > td.day.wday-0.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

/* Ligne 5 */

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-1.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-2.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-3.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-4.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-5.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-6.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}

#calendrier > div > table > tbody > tr:nth-child(5) > td.day.wday-0.future.current-month {
  background-color: #ff000000;
  border-color: rgba(255, 0, 0, 0);
  color: #03045E;
}


/* Sélecteur */

.text-retour-calendrier {
  font-size: 17px;
  font-weight: 500;
  font-family: Quicksand;
  color: #03045E;
}


/* previous next */

#calendrier > div > div > a:nth-child(1) {
  font-family: quicksand;
  color: #fff;
  font-size: 15px;
}

#calendrier > div > div > a:nth-child(3) {
  font-family: quicksand;
  color: #fff;
  font-size: 15px;
}


/* Sélecteur gris */

.table > :not(caption) > * > * {
  background-color: rgba(255, 0, 0, 0);
  border:none;

}
