#TitreCalendrier{
text-align: center;
}

.calendar{
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 25px;
}

.col-6 {
  border: solid;
}

.container-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.box1{
  text-align: center;
  margin-left: 23px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 4px 20px 5px rgba(246, 246, 246, 0.75);
}

.box2{
  text-align: center;
  margin-right: 23px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 4px 20px 5px rgba(246, 246, 246, 0.75);
}

.namecenter{
  display: flex;
  justify-content: center;
  gap: 5px;

}

#status{
  text-align: center;
  background-color: #FFE45E;
  border-radius: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 12px;
  margin-top: 5px;
  height: 24px;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#metier{
  color: #c4c4c4;
  font-size: 13px;
}

#nom{
  color: #7FC8F8;
  text-align: center;
  font-family: 'quicksand';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0px;
}

.day {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ff000000;
  border-color: #ff181800;
  height: 35px!important;
}

.day:hover {
  background-color: grey;
  border-radius: 10%
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: rgb(0 0 0 / 0%)!important;
}

/* Ligne 1 calendrier */
/* Jours précédents */
#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-1.past.prev-month {
  background-color: rgba(255, 0, 0, 0);
  color:#777777;
  border-color: rgba(255, 0, 0, 0);
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-2.past.prev-month {
  background-color: rgba(255, 0, 0, 0);
  color:#777777;
  border-color: rgba(255, 0, 0, 0);
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-3.past.prev-month {
  background-color: rgba(255, 0, 0, 0);
  color:#777777;
  border-color: rgba(255, 0, 0, 0);
}

#calendrier > div > table > tbody > tr:nth-child(1) > td.day.wday-4.past.prev-month {
  background-color: rgba(255, 0, 0, 0);
  color:#777777;
  border-color: rgba(255, 0, 0, 0);
}

/* Jours du


.calendar-heading{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.simple-calendar .day{
  height: 25px;
}


.calendar-heading{
  display: flex;
  justify-content: space-between;

}

.calendar-title{
  text-transform: capitalize;

}

/* Tableau calendrier */

#calendrier > div > table > thead > tr > th:nth-child(1) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(2) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(3) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(4) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(5) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(6) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table > thead > tr > th:nth-child(7) {
  background-color: #ff000000;
  color: #fff;
  border-color: #ff000000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#calendrier > div > table {
  border: none;
}

.background-blue-calendrier {
  background-color: $blue-light;
  height: 200px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -55px;
}

#calendrier > div > div {
  margin-top: -102px;
}

#calendrier > div > div > span {
  color: #fff;
  text-align: center;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: -20px;
}
