#TitreCalendrier{
text-align: center;
}

.calendar{
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 25px;
}

.col-6 {
  border: solid;
}

.container-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.box1{
  text-align: center;
  margin-left: 23px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
}

.box2{
  text-align: center;
  margin-right: 23px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
}

#status{
  text-align: center;
  background-color: #FFE45E;
  border-radius: 40px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 24px;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

#metier{
  color: #c4c4c4;
  font-size: 13px;
}

#nom{
  font-size: 15px;
  color: #7fc8f8;
}

.day {
  text-align: center;
  background-color: #FFE45E;
  border-radius: 50%;
  vertical-align: middle;
}


.day:hover {
  background-color: rgb(255, 0, 0);
}

.calendar-heading{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.simple-calendar .day{
  height: 25px;
}

#mabalise{
  color: red;
}

.calendar-heading{
  display: flex;
  justify-content: space-between;

}
