/* HTML Button
<a href="" class="little-btn-pink">Button 1</a>
*/


/* Petit Bouton ROSE */

.little-btn-pink {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#F0B6FF;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px rgba(255, 99, 249, 0.70));
  text-decoration: none;
}

.little-btn-pink a {
  text-decoration: none;
}

/* Petit Bouton BLEU CLAIR */

.little-btn-light-blue {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#7FC8F8;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #7FC8F8);
  text-decoration: none;
}

.little-btn-light-blue a {
  text-decoration: none;
}

/* Petit Bouton BLEU FONCÉ */

.little-btn-dark-blue {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#03045E;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 1px 8px #03045E);
  text-decoration: none;
}

.little-btn-dark-blue a {
  text-decoration: none;
}

/* Gros Bouton ROSE */

.big-btn-alarm {
  padding: 20px 32px;
  margin: 10px;
  background-color:#F0B6FF;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
  max-width: 400px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px rgba(255, 99, 249, 0.70));
  text-decoration: none;
  cursor: pointer;
}

.big-btn-alarm a {
  text-decoration: none;
}

/* Gros Bouton BLEU CLAIR */

.big-btn-message {
  padding: 20px 32px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:#7FC8F8;
  text-align: center;
  border-radius: 100px;
  max-width: 400px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #7FC8F8);
  text-decoration: none;
}

.big-btn-message a {
  text-decoration: none;
}

/* Gros Bouton BLEU FONCÉ */

.big-btn-dark-blue {
  padding: 20px 32px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#03045E;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #03045E);
  text-decoration: none;
}

.big-btn-dark-blue a {
  text-decoration: none;
}


.big-btn-green {
  padding: 20px 35px;
  line-height: 20px;
  margin: 10px;
  background-color:#80ed99;
  text-align: center;
  border-radius: 40px;
  max-width: 400px;
  color: #fff;
  font-family: montserrat;
  text-decoration: none;
  filter: drop-shadow(0px 1px 8px #80ed99);
}
.cursor{
  cursor: pointer;
}

.big-btn-green a {
  text-decoration: none;
}
/* Titres */

.h1 {
  font-family: quicksand;
  font-weight: bold;
  font-size: 40px;
  color: #03045E;
}

.h2 {
  font-family: quicksand;
  font-weight: bold;
  font-size: 32px;
  color: #03045E;
}

.h3 {
  font-size: 28px;
  font-weight: bold;
  font-family: Quicksand;
}

.h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: Quicksand;
}

/* paragraphe gris */

.p-grey {
  font-family: Montserrat;
  font-size: 14px;
  color: #777777;
  font-weight: 500;
}

/* paragraphe bleu foncé */

.p-dark-blue {
  font-family: Montserrat;
  font-size: 14px;
  color: #03045E;
}

/* Espace */

.spacing {
  margin: 40px;
}


/* Couleurs validation personne de garde */

#link-blue{
  color: #03045E;
}

#link-green{
  color: #73de8c;
}
