/* Petit Bouton ROSE */

.little-btn-pink a {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#FF6392;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px rgba(255, 99, 146, 0.50));
  text-decoration: none;
}

/* Petit Bouton BLEU CLAIR */

.little-btn-light-blue a {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#7FC8F8;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #7FC8F8);
  text-decoration: none;
}

/* Petit Bouton BLEU FONCÉ */

.little-btn-dark-blue a {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#03045E;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #03045E);
  text-decoration: none;
}

/* Gros Bouton ROSE */

.big-btn-alarm a {
  padding: 25px 40px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#FF6392;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px rgba(255, 99, 146, 0.50));
  text-decoration: none;
}

/* Gros Bouton BLEU CLAIR */

.big-btn-message a {
  padding: 25px 40px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#7FC8F8;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #7FC8F8);
  text-decoration: none;
}

/* Gros Bouton BLEU FONCÉ */

.big-btn-dark-blue a {
  padding: 25px 40px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color:#03045E;
  text-align: center;
  border-radius: 40px;
  max-width: 200px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #03045E);
  text-decoration: none;
}

/* Titres */

.h1 {
  font-family: quicksand;
  font-weight: bold;
  font-size: 40px;
  color: #03045E;
}

.h2 {
  font-family: quicksand;
  font-weight: bold;
  font-size: 32px;
  color: #03045E;
}

.h3 {
  font-size: 28px;
  font-weight: bold;
  font-family: Quicksand;
}

.h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: Quicksand;
}

/* paragraphe gris */

.p-grey {
  font-family: Montserrat;
  font-size: 15px;
  color: #777777;
}

/* paragraphe bleu foncé */

.p-dark-blue {
  font-family: Montserrat;
  font-size: 15px;
  color: #03045E;
}

/* Espace */

.spacing {
  margin: 40px;
}
