.footer {
text-align: center;
background-color: #7fc8f86f;
}

.monlogo {
padding-top: 30px;
margin-bottom: 40px;
}

#titre {
  font-weight: bold;
  margin-left: -210px;
}

.contacts {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 80px;
}

.text-wrapper {
  font-size: 13px;
  text-align: left;
}

.element-all-rights-re {
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 40px;
}
