.footer {
text-align: center;
background-color: #7fc8f86f;
}

.monlogo-footer {
padding-top: 30px;
margin-bottom: 40px;

}

#titre {
  font-weight: bold;
}

.text-wrapper-footer {
  font-size: 13px;
  text-align: center;

}

.element-all-rights-re {
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 40px;
}


