.mapboxgl-canvas{
  position: relative;
}


.text-en-tete-map {
  margin-top: -50px;
  padding: 19px;
  background-color: #7fc8f8;
}

.text-historique-map {
  font-size: 17px;
  font-weight: 500;
  font-family: Quicksand;
  color: white;
}

.title-historique-map {
  font-family: quicksand;
  font-weight: 500;
  font-size: 32px;
  color: white;
  margin-top: -10px;
  text-align: center;
  margin-right: 109px;
}

.text-map{
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Quicksand';
  color: #03045e;
}

.picture-circle-map{
  border-radius: 50px;
}

.picture-circle-map-avatar {
  border-radius: 50px;
  margin-bottom: 17px;
  margin-left: 25px;
  margin-top: 10px;
  box-shadow: 0px 4px 15px 0px #7FC8F8;
}

#rowmap > div:nth-child(4) > p > i {
  background-color: #7FC8F8;
  height: 28px;
  width: 28px;
  align-items: center;
  padding: 3px;
  border-radius: 100%;
  padding-top: 7px;
}

.nomprenommap{
  font-size: 12px;
  height: 0px;
}

.servicemap{
  font-size: 10px;
}

#rowmap{
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
}

.timemap{
  font-size: 12px;
  margin-left: -32px;
}

.backgroundbluemap{
  background-color: #7fc8f86f;
  height: 50px;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

#itinérairediv{
  background-color: #7fc8f8;

}

.min{
  font-size: 16px;
  margin-top: -20px;
  margin-right: 50px;
  color: $blue-light;
  font-weight: 600;
}

.minuteur{
  margin-right: -47px;

}

.background-white-map {
  background-color: #fff;
  border-radius: 36px 36px 0px 10px;
  margin-top: -6px;
  z-index: 1!important;
  padding-top: 8px;
  padding-bottom: 35px;

}
