

// NAVBAR_______________________________________________________________________
// Changement couleur navbar
.navbar-dark {
  background-color: rgba(255, 255, 255, 0) !important;
  --bs-navbar-toggler-icon-bg: url(data:'app/assets/images/avatar1.png');
  z-index: 10000;
  height: 47px;
}

.logo {
margin-left: 30px;
}

// Changement couleur du bouton de la navbar
.navbar-toggler-icon {
background-image: url('menu-burger.png');
border: none;
}

// Réglage des div de la navbar
.maboite {
display: flex;
width: 100%!important;
justify-content: space-between;
}

// retrait programmation boostrap de base du la navbar
.element.style {
width: 0px;
width: 0%;
}

.maboiteavatar {
padding-right: 5px;
}

// SIDE MENU_________________________________________________________________

// réglage du side menu à 80% d'ouverture
.offcanvas {
  --bs-offcanvas-width: 300px !important;
  background-color:$blue-ultra-light;
  z-index: 10001;
}

// Réglage et centrage du logo dans le side menu
.logonavbar {
margin-left: 40px;
}



// LIST (INTERIEUR SIDE MENU)______________________

// Réglage du padding left de la liste ul
.monul {
padding-left: 15px;
}

// Réglage du padding start et du margin bottom des lists hors celles dessous
.list {
padding-inline-start: 0px;
margin-bottom: 12px;
margin-top: 25px;
}

// Réglage de la phrase de la list "une urgence ?"
.listurgence {
padding-inline-start: 60px;
padding-top: 200px;
margin-bottom: 40px;
}

// Big bouton rose

.big-btn-alarm {
padding: 25px 40px;
margin-top: 30px;
margin-bottom:10px;
background-color:#FF6392;
text-align: center;
border-radius: 40px;
max-width: 200px;
color: #fff;
font-family: montserrat;
filter: drop-shadow(0px 4px 15px rgba(255, 99, 146, 0.50));
text-decoration: none;
margin-left: 20px;
}

.big-btn-alarm a {
text-decoration: none;
}

.monul {
color:#03045E;
}


.maboiteavatar .fa-regular.fa-bell{
color: #03045E;
}

.icon-navbar-connexion img {
  width: 27px;
  margin-top: 5px;
  margin-right: 10px;
}

.wrapper{
  height: 130px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  .circle-wrapper-avatar-on-call{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top:20px;
    left:20px;
  }
}

.fa-regular.fa-bell {
  margin-left: -25px;
  margin-top: 17px;
}

body > nav > div > div.maboiteavatar > a:nth-child(2) > img{
  width: 40px;
  margin-top: -59px;
}

.avatar-navbar-women {
  width: 34px!important;
  border-radius: 50px;
  margin-top: -106px!important;
  margin-right: 5px;
  box-shadow: 0px 4px 15px 0px #7FC8F8;
}

.avatar-navbar-men {
  width: 34px!important;
  border-radius: 50px;
  box-shadow: 0px 4px 15px 0px #7FC8F8;
}

.bell-container{
  .fa-bell{
    position: relative;
  }
  .notifications{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:$purple;
    top: 22px;
    right: 60px;
  }
}
.navbar-toggler:focus{
  --bs-navbar-toggler-focus-width: rgba(255, 0, 0, 0)!important;
}
