.container-wrapper{
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
  position: relative;
  h1{
    color: $dark-blue;
    font-family: $quicksand;
    font-weight: 700;
    text-align: center;
  }
}

.text-content{
  border-radius: 10px;
  background: $white;
  padding: 30px 27px 20px 27px;


  .text-box-profil  {
      color: $dark-blue;
      font-family: 'quicksand';
      font-weight: 700;
      margin-top: 3px;
    }
  }


.text-box-profil  {
  padding-bottom: 20px;
  margin: 0;
  color: $dark-blue;
  font-family: 'quicksand';
  font-weight: 700;
}

.grid-wrapper{
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin: 14px 0px 30px 0px;
}

.wrapper{
  height: 130px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  .circle-wrapper{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top:20px;
    left:20px;
  }
  div{
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.left-wrapper{
  background: $white;
  .circle-wrapper{
    background: $blue-light;
  }
  h6{
    color: $dark-blue;
    font-family: $montserrat;
    font-weight: 700;
  }
}

.right-wrapper{
  background: $blue-light;

  .circle-wrapper{
  background: $white;

  }
  h6{
    color: $white;
    font-family: 'quicksand';
    font-weight: 700;
  }

}
.content-btn{
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.content-btn-validation-depart{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 10px 0;
}
.green{
  background-color:rgb(29, 129, 29);
}


/* icons */

.icons-profil img {
  width: 27px;
  margin-right: 11px;
}


/* elements boxe blanche */

.text-content .text-content-infos .elements-profil-box {
  display: flex!important;
}


/* element personne de garde et planning */

.text-de-garde-planning {
  color: #FFF;
  font-family: 'montserrat';
  font-weight: 400;
}

.text-de-garde {
  color: #03045E;
  font-family: 'montserrat';
  font-weight: 400;
  margin-top: 50px;
}

.text-de-garde:hover {
  color: $blue-light;
}

#link-blue:hover {
  color: $blue-light;
}

/* Icon calendrier */

.circle-wrapper img {
  margin-left: 7px;
  width: 19px;
  margin-top: 7px;
}

.text-mon-planning-profil {

  height: 120px;

}


/* On Duty */

.background-on-duty {
  background-color: #fbeeff!important;
  margin-top: -57px;
  padding-top: 56px;
  padding-bottom: 70px;

}

.big-btn-message-on-duty {
  padding: 17px 20px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #7FC8F8;
  text-align: center;
  border-radius: 100px;
  max-width: 400px;
  color: #fff;
  font-family: montserrat;
  filter: drop-shadow(0px 4px 15px #7FC8F8);
  text-decoration: none;
  margin-top: 40px;
}

.content-btn-on-duty {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  align-items: center;
}

.h1-on-duty {
  color: $dark-blue;
  font-family: $quicksand;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.text-situation-on-duty {
  color: #F0B6FF;
}

/* On Duty icon validation astreinte */

.circle-wrapper img {
  margin-top: 20px;
  margin-left: 2px;
  width: 21px;

}

body > div.background-on-duty > div > div.grid-wrapper > div.wrapper.right-wrapper > a > img {
  margin-top: 7px!important;
  right: 30px!important;
  margin-left: 8px!important;
  width: 18px!important;
}


/* On Call */

.text-situation-on-call {
  color: #F0B6FF;
}

body > div.container-wrapper > div.grid-wrapper > div.wrapper.right-wrapper > a > img {
  margin-left: 8px;
  margin-top: 7px;
  width: 18px;
}

.text-mon-planning-profil a {
  margin-top: 50px;
}
