<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons afin de vous informer que le mot de passe est en cours de changement<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons afin de vous notifier que le mot de passe est modifié avec succès<%= @resource.email %>.</p>
<% end %>
