<p>Bonjour <%= @resource.email %>!</p>

<p>Une personne a demandé un changement de mot de passe. Vous pouvez réaliser cette action en suivant le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'etes pas à l'origine de cette requête, merci d'ignorer cet email.</p>
<p>Votre mot de passe n'est pas modifié tant que vous ne suivez pas ce lien afin d'en créer un nouveau.</p>
