<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte est bloqué à cause d'un nombre important de connexions.</p>

<p>Merci de cliquer ci-dessous afin de débloquer le compte :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
